ml-kit/LatihanCamera/.idea/vcs.xml
ml-kit/LatihanCamera/.idea/misc.xml
ml-kit/LatihanCamera/.idea/kotlinc.xml
ml-kit/LatihanCamera/.idea/gradle.xml
ml-kit/LatihanCamera/.idea/deploymentTargetDropDown.xml
ml-kit/LatihanCamera/.idea/compiler.xml
ml-kit/LatihanCamera/.idea/.name
ml-kit/LatihanCamera/.idea/deploymentTargetDropDown.xml